<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--RUTA FTP SAT-->
    <add key="RUTAFTPSAT" value="ftp://ftp2.sat.gob.mx/agti_servicio_ftp/cfds_ftp/LCO_"/>
    <!--DIRECTORIO A GUARDAR ARCHIVOS-->
    <add key="DIRECTORIO" value="C:\DowLCO\"/>
    <!--NUM ARCHIVOS A DESCARGAR-->
    <add key="NUMARCHIVOS" value="4"/>
    <!-- NOMBRE ARCHIVO TXTLCO-->
    <add key="NAMETXTLCO" value="C:\\DowLCO\\LCO.txt"/>
  </appSettings>
</configuration>